spring:
  config:
    activate:
      on-profile: prod

eureka:
  instance:
    hostname: bookstore
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
